In [233]:
import pandas as pd
from functools import reduce

In [267]:
currencies = {
    'btc_usd':'BTC-USD', # https://finance.yahoo.com/quote/BTC-USD/history/
    'eth_usd':'ETH-USD',
    'btc_eur':'BTC-EUR',
    'eth_eur':'ETH-EUR',
    'usd_eur':'EUR=X', # https://finance.yahoo.com/quote/EUR%3DX/history/
}

def rename_columns(df,suffix):
    df.columns = [col.lower() if i == 0 else f'{col.lower()}_{suffix}' for i,col in enumerate(df.columns)] # date not suffixed as joining on it
    return df

dfs = []
for key,value in currencies.items():
    df = pd.read_csv(f'datasets/{value}.csv')
    df.drop(columns='Adj Close',inplace=True,errors='ignore') # same as Close for all dfs
    df = rename_columns(df,key)
    dfs.append(df)

print(f'Dataframes: {len(dfs)}')
dfs[0].head()

Dataframes: 5

,date,open_btc_usd,high_btc_usd,low_btc_usd,close_btc_usd,volume_btc_usd
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100

In [269]:
f_g = pd.read_csv('fear_and_greed_index.csv')
f_g

            date  fng_value     fng_class
0     2018-02-01         30          Fear
1     2018-02-02         15  Extreme Fear
2     2018-02-03         40          Fear
3     2018-02-04         24  Extreme Fear
4     2018-02-05         11  Extreme Fear
...          ...        ...           ...
2396  2024-08-27         48       Neutral
2397  2024-08-28         30          Fear
2398  2024-08-29         29          Fear
2399  2024-08-30         34          Fear
2400  2024-08-31         29          Fear

[2401 rows x 3 columns]

In [271]:
# merged left on fear/greed date as smallest timeframe of datasets used
df = reduce(lambda left,right: pd.merge(left,right,how='left',on='date'), dfs, f_g)
df

,date,fng_value,fng_class,open_btc_usd,high_btc_usd,low_btc_usd,close_btc_usd,volume_btc_usd,open_eth_usd,high_eth_usd,...,open_eth_eur,high_eth_eur,low_eth_eur,close_eth_eur,volume_eth_eur,open_usd_eur,high_usd_eur,low_usd_eur,close_usd_eur,volume_usd_eur
0,2018-02-01,30,Fear,10237.299805,10288.799805,8812.280273,9170.540039,9959400448,1119.369995,1161.349976,...,901.554443,928.263123,787.099548,828.835266,4206315555,0.80532,0.80733,0.80078,0.80524,0.0
1,2018-02-02,15,Extreme Fear,9142.280273,9142.280273,7796.490234,8830.750000,12726899712,1035.770020,1035.770020,...,828.019836,828.218445,606.383972,734.979919,5387873387,0.79919,0.80568,0.79885,0.79936,0.0
2,2018-02-03,40,Fear,8852.120117,9430.750000,8251.629883,9174.910156,7263790080,919.210999,991.942993,...,737.729553,796.101929,680.329041,773.690979,2603114016,NaN,NaN,NaN,NaN,NaN
3,2018-02-04,24,Extreme Fear,9175.700195,9334.870117,8031.220215,8277.009766,7073549824,964.666992,969.031982,...,774.211060,777.714294,647.365723,670.642761,2408074922,NaN,NaN,NaN,NaN,NaN
4,2018-02-05,11,Extreme Fear,8270.540039,8364.839844,6756.680176,6955.270020,9285289984,834.958008,856.645996,...,670.864563,687.903320,520.005676,564.456909,3452915578,0.80340,0.80635,0.80140,0.80341,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,2024-08-27,48,Neutral,62879.707031,63210.796875,58116.750000,59504.132813,39103882198,2681.622803,2700.152832,...,2456.977783,2467.376465,2390.940918,2401.631104,11000810703,0.89568,0.89676,0.89449,0.89568,0.0
2397,2024-08-28,30,Fear,59507.925781,60236.449219,57890.675781,59027.625000,40289564698,2458.904785,2553.820068,...,2401.884033,2418.065186,2146.890625,2199.780762,16130236278,0.89462,0.90046,0.89430,0.89462,0.0
2398,2024-08-29,29,Fear,59027.468750,61184.082031,58786.226563,59388.179688,32224990582,2528.362305,2595.977051,...,2199.940186,2296.502441,2167.381104,2272.830566,18301500763,0.89888,0.90446,0.89765,0.89888,0.0
2399,2024-08-30,34,Fear,59388.601563,59896.886719,57768.531250,59119.476563,32292756405,2528.732178,2539.915283,...,2272.782715,2343.193604,2263.264160,2282.242920,12586698774,0.90249,0.90465,0.90125,0.90249,0.0
2400,2024-08-31,29,Fear,59117.480469,59432.593750,58768.785156,58969.898438,12403470760,2525.859131,2532.389893,...,2282.188232,2297.523438,2201.447510,2283.514893,14036757085,NaN,NaN,NaN,NaN,NaN

In [275]:
df.duplicated().sum()

0

In [277]:
nans = df.isna().sum()
nans[nans > 0]

open_usd_eur     686
high_usd_eur     686
low_usd_eur      686
close_usd_eur    686
dtype: int64

In [283]:
df = df.ffill() # fiat currency markets open 5/7 days/week; forward fill
df.drop(columns='volume_usd_eur',inplace=True,errors='ignore') # bad usd-eur volume data

# feature engineer dates
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.dayofweek

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            2401 non-null   datetime64[ns]
 1   fng_value       2401 non-null   int64
 2   fng_class       2401 non-null   object
 3   open_btc_usd    2401 non-null   float64
 4   high_btc_usd    2401 non-null   float64
 5   low_btc_usd     2401 non-null   float64
 6   close_btc_usd   2401 non-null   float64
 7   volume_btc_usd  2401 non-null   int64
 8   open_eth_usd    2401 non-null   float64
 9   high_eth_usd    2401 non-null   float64
 10  low_eth_usd     2401 non-null   float64
 11  close_eth_usd   2401 non-null   float64
 12  volume_eth_usd  2401 non-null   int64
 13  open_btc_eur    2401 non-null   float64
 14  high_btc_eur    2401 non-null   float64
 15  low_btc_eur     2401 non-null   float64
 16  close_btc_eur   2401 non-null   float64
 17  volume_btc_eur  2401 non-null   int64
 18  open_eth_eur    2401 non-null   float64
 19  high_eth_eur    2401 non-null   float64
 20  low_eth_eur     2401 non-null   float64
 21  close_eth_eur   2401 non-null   float64
 22  volume_eth_eur  2401 non-null   int64
 23  open_usd_eur    2401 non-null   float64
 24  high_usd_eur    2401 non-null   float64
 25  low_usd_eur     2401 non-null   float64
 26  close_usd_eur   2401 non-null   float64
 27  year            2401 non-null   int32
 28  month           2401 non-null   int32
 29  day             2401 non-null   int32
 30  day_of_week     2401 non-null   int32
dtypes: datetime64[ns](1), float64(20), int32(4), int64(5), object(1)
memory usage: 544.1+ KB

In [285]:
df

,date,fng_value,fng_class,open_btc_usd,high_btc_usd,low_btc_usd,close_btc_usd,volume_btc_usd,open_eth_usd,high_eth_usd,...,close_eth_eur,volume_eth_eur,open_usd_eur,high_usd_eur,low_usd_eur,close_usd_eur,year,month,day,day_of_week
0,2018-02-01,30,Fear,10237.299805,10288.799805,8812.280273,9170.540039,9959400448,1119.369995,1161.349976,...,828.835266,4206315555,0.80532,0.80733,0.80078,0.80524,2018,2,1,3
1,2018-02-02,15,Extreme Fear,9142.280273,9142.280273,7796.490234,8830.750000,12726899712,1035.770020,1035.770020,...,734.979919,5387873387,0.79919,0.80568,0.79885,0.79936,2018,2,2,4
2,2018-02-03,40,Fear,8852.120117,9430.750000,8251.629883,9174.910156,7263790080,919.210999,991.942993,...,773.690979,2603114016,0.79919,0.80568,0.79885,0.79936,2018,2,3,5
3,2018-02-04,24,Extreme Fear,9175.700195,9334.870117,8031.220215,8277.009766,7073549824,964.666992,969.031982,...,670.642761,2408074922,0.79919,0.80568,0.79885,0.79936,2018,2,4,6
4,2018-02-05,11,Extreme Fear,8270.540039,8364.839844,6756.680176,6955.270020,9285289984,834.958008,856.645996,...,564.456909,3452915578,0.80340,0.80635,0.80140,0.80341,2018,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,2024-08-27,48,Neutral,62879.707031,63210.796875,58116.750000,59504.132813,39103882198,2681.622803,2700.152832,...,2401.631104,11000810703,0.89568,0.89676,0.89449,0.89568,2024,8,27,1
2397,2024-08-28,30,Fear,59507.925781,60236.449219,57890.675781,59027.625000,40289564698,2458.904785,2553.820068,...,2199.780762,16130236278,0.89462,0.90046,0.89430,0.89462,2024,8,28,2
2398,2024-08-29,29,Fear,59027.468750,61184.082031,58786.226563,59388.179688,32224990582,2528.362305,2595.977051,...,2272.830566,18301500763,0.89888,0.90446,0.89765,0.89888,2024,8,29,3
2399,2024-08-30,34,Fear,59388.601563,59896.886719,57768.531250,59119.476563,32292756405,2528.732178,2539.915283,...,2282.242920,12586698774,0.90249,0.90465,0.90125,0.90249,2024,8,30,4
2400,2024-08-31,29,Fear,59117.480469,59432.593750,58768.785156,58969.898438,12403470760,2525.859131,2532.389893,...,2283.514893,14036757085,0.90249,0.90465,0.90125,0.90249,2024,8,31,5